body,
.menu,
.map,
.menu-list,
.menu-list li,
.menu-item,
.price {
  font-family: 'Zen Kaku Gothic New', sans-serif !important;
  background-color: #c0c0c0; 
}

.title{
    margin-bottom: 2rem; 
}

.menu-list {
    font-family: "Zen Kaku Gothic New", sans-serif;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #d3d3d3 ; 
}

.menu-list li {
    font-family: "Zen Kaku Gothic New", sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    border-bottom: 1px solid #eee;
    margin-bottom: 1rem; 
    background-color: #d3d3d3 ; 
}

.menu-item {
    font-family: "Zen Kaku Gothic New", sans-serif;
    flex-grow: 1;
    background-color: #d3d3d3 ; 
}

.price {
    font-family: "Zen Kaku Gothic New", sans-serif;
    width: 60px;
    text-align: right;
    background-color: #d3d3d3 ; 
}

.map {
    width: 930px;
    max-width: 90%;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    
}

.map iframe {
    display: block;
    width: 100%;
    height: 600px;
    margin-top: 25px;
}